<footer class="bg-dark text-light">
    <div class="container py-5">
        <div class="row">
            <div class="col-md-4">
                <h5>Informasi</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Tentang Kami</a></li>
                    <li><a href="#">Kontak</a></li>
                    <li><a href="#">Kebijakan Privasi</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Kategori</h5>
                <ul class="list-unstyled">
                    <li><a href="#">Elektronik</a></li>
                    <li><a href="#">Fashion</a></li>
                    <li><a href="#">Olahraga</a></li>
                </ul>
            </div>
            <div class="col-md-4">
                <h5>Hubungi Kami</h5>
                <p>Alamat Toko, Kota, Negara</p>
                <p>Email: info@tokoonline.com</p>
                <p>Telp: 123-456789</p>
            </div>
        </div>
    </div>
    <div class="bg-secondary py-3">
        <div class="container text-center">
            <p>Hak Cipta &copy; 2023 Toko Online. Dibuat dengan <i class="fa fa-heart text-danger"></i> oleh <a
                    href="#">Tokoku</a></p>
        </div>
    </div>
</footer>