<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li>
                <a href="index.html">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Dashboard</span>
                </a>
            </li>
            <li>
                <a href="javascript:void()" aria-expanded="false">
                <i class="flaticon-381-television"></i>
                    <span class="nav-text">Kategori</span>
                </a>
            </li>
            <li>
                <a href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Produk</span>
                </a>
            </li>
            <li>
                <a href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-internet"></i>
                    <span class="nav-text">Pesanan</span>
                </a>
            </li>
            <li>
                <a href="javascript:void()" aria-expanded="false">
                    <i class="flaticon-381-folder-6"></i>
                    <span class="nav-text">Laporan</span>
                </a>
            </li>
        </ul>
    
        <div class="copyright mt-5">
            <p>Made with <i class="fa fa-heart"></i> by Anonim</p>
        </div>
    </div>
</div>